/* BEGIN RESET */
a,a:active,a:link,a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {

  cursor: pointer;

}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}
/* END RESET*/
body {
  background-color: #ddd;
  font-family: 'open sans','helvetica',arial,sans-serif;
  font-weight: 300;
}
.wrap {
  margin-top: 120px;
}
.nameCard {
  position: relative;
  background-color: #333 !important;
  padding-top: 70px !important;
  padding-bottom: 20px !important;
  color: #fff;
  /*padding: */
}
.nameCard-avatar {
  position: absolute;
  left: 50%;
  top: -65px;
  width: 130px;
  height: 130px;
  margin-left: -65px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: url(../image/cat.jpg) no-repeat;
  background-size: cover;
  background-color: #fff;
}
.nameCard-avatar img {
  width: 100%;
  height: 100%;
}

.nameCard-name {
  font-size: 3em;
  margin: 12px 0;
}

.nameCard-subtitle {
  font-size: 1.4em;
  line-height: 1.4em;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 50px 70px;
  background-color: #fff;
}
.intro {
  padding: 0 60px;
  line-height: 1.5em;
  text-align: center;
}
.intro a {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.heading {
  margin-bottom: 3em;
}
.heading-hd {
  font-size: 1.8em;
}
.heading-hd .english {
  letter-spacing: 3px;
}
.heading-line {
  content: "";
  width: 10em;
  height: 3px;
  background-color: #222;
  margin: .5em auto;
}
.content::before,.content::after {
  content: "";
  display: table;
  clear: both;
}
.item {
  float: left;
  margin: 0 10px 4em;
  width: 300px;
  /*background-color: #aaa;*/
  min-height: 160px;
}
.item-hd {
  margin: 10px 0;
}
.item .item-hd a {
  color: #38c;
  font-size: 1.4em;
}
.item .item-img {
  width: 80%;
  margin: 0 auto;
  height: 148px;
  overflow: hidden;
}
.item .item-img img {
  transition: all .3s;
  width: 100%;
}
.item .item-img:hover img {
  transform: translateY(-10%);
}
.item-ua a {
  color: #aaa !important;
}
.contact-item {
  display: inline-block;
  margin: 0 10px;
  width: 160px;
}
.contact-item-img {
  margin-bottom: 20px;
}