/* main.css */
/* global */
.h {
  color: #F40;
}
.pipe {
  color: #ddd;
  padding-top: 2px;
  margin-left: 6px;
  font-weight: 400;
}
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.mt10 {
  margin-top: 10px;
}
.board-tab .cur a {
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #F40;
}
.dotlist .cur {
  background-color: #F40;
}
p {
  margin: 0;
}
body {
  font-size: 12px;
  font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f1f1f1;
}

.container::before, .container::after,
.helper::before, .helper::after,
.linkslist::before, .linkslist::after,
.guide::before,.guide::after,
.search-ft ul::before,.search-ft ul::after,
.tabs ul::before,.tabs ul::after,
.auth::before, .auth::after {
  content: "";
  display: block;
  clear: both;
}
.clearfix::before,.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.g-header {
  background-color: #f5f5f5;
}
.g-header .container,
.g-bottom .container,
.g-top .container {
  width: 1190px;
  margin: 0 auto;
}

.g-header-l {
  float: left;
}
.g-header-r {
  float: right;
}
.g-header-l li,
.g-header-r li {
  float: left;
  line-height: 35px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.g-header-l li:first-child {
  margin:0;
}
.g-header-l-list > li a,
.g-header-r-list > li a {
  display: block;
}
.g-header-l-list > li a {
  padding: 0 8px;
}
.g-header-r i.fa-angle-down {
  margin-left: 10px;
}
.g-header-r i.fa-star,
.g-header-r i.fa-bars,
.g-header-r i.fa-shopping-cart {
  margin-right: 4px
}

.nav-item .nav-title {
  padding: 0 6px;
}
.nav-collapse:hover {
  background-color: #fff;
  border-color: #ddd;
}
.nav-collapse:hover .nav-menu {
  display: block;
}
.nav-menu {
  position: relative;
  display: none;
  z-index: 10001;


}
.nav-menu-wrap {
  position: absolute;
  left: -1px;
  top: 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}
.nav-menu-wrap-sitemap {
  position: absolute;
  right: -1px;
  left: auto;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
}
.nav-menu-wrap-sitemap::before,.nav-menu-wrap-sitemap::after {
  content: "";
  display: table;
  clear: both;
}
.nav-menu-wrap a {
  padding: 0 5px;
  line-height: 28px;
  white-space: nowrap;
}
/* 网站导航 */
.nav-menu-wrap-sitemap {
  width: 1188px;
}

.nav-menu-sitemap-m {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid #eee;
}
.nav-menu-sitemap-m:last-child {
  border-right: none;
}
.nav-menu-sitemap-m-1 h4 {
  color: #f40;
}
.nav-menu-sitemap-m-2 h4 {
  color: #9fb838;
}
.nav-menu-sitemap-m-3 h4 {
  color: #d75696;
}
.nav-menu-sitemap-m-4 h4 {
  color: #2e9fdb;
}
.nav-menu-sitemap-m-1 a:hover {
  background-color: #f40;
  color: #fff;
}
.nav-menu-sitemap-m-2 a:hover {
  background-color: #9fb838;
  color: #fff;
}
.nav-menu-sitemap-m-3 a:hover {
  background-color: #d75696;
  color: #fff;
}
.nav-menu-sitemap-m-4 a:hover {
  background-color: #2e9fdb;
  color: #fff;
}
.nav-menu-sitemap-m-wrap {
  padding: 5px;
  padding-left: 15px;
  overflow: hidden;
}
.nav-menu-sitemap-hd h4 {
  margin: 4px 0;
  font-size: 16px;

}
.nav-menu-sitemap-bd ul li {
  float: left;
  width: 24%;
  line-height: 24px;

}
.nav-menu-sitemap-bd ul li a {
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
}



/* g-top */
.g-top {
  background-color: #FFF;
  padding: 25px 0;
}
.g-top-left {
  float: left;
  width: 264px;

}
.g-top-left .top-logo {
  background: url(images/taobao292-166.png) no-repeat;
  background-size: contain;
  width: 145px;
  height: 58px;
  margin: 10px 0 0 20px; 
}
/* search */
.g-top-search {
  float: left;
  width: 625px;
  margin: 0 auto;
}
/* tabs */
.tabs li {
  float: left;
  padding: 3px 13px;
  cursor: pointer;
}
.tabs li.active {
  color: #fff;
  background-color: #F40;
  font-weight: 700;
}
.search-panel {
  position: relative;
  border: 3px solid #F40;
}
.search-icon {
  position: absolute;
}
.search-text input {
  padding: 10px 0;
  text-indent: 10px;
  width: 480px;
  outline: none;
  border: none;
}
.search-ft {
  position: relative;
  margin: 6px 0 0 ;
}
.search-ft li {
  float: left;
  margin-right: 6px;
}
.search-ft .more {
  position: absolute;
  top: 0;
  right: 0;
}
.btn-search {
  position: absolute;
  right: 0;
}
.btn-search button {
  height: 34px;
  width: 122px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  color: #fff;
  background-color: #F40;
  text-align: center;
}
.advanced-search {
  position: absolute;
  right: -34px;
  top: 0;
}
.advanced-search a {
  display: inline-block;
  width: 2em;
}
.g-top-right {
  float: right;
}
.mobile-box {
  position: relative;
  border: 1px solid #ddd;
  padding: 2px 10px 10px;
}
.mobile-box i {
  position: absolute;
  top: -1px;
  left: -25px;
  border: 1px solid #ddd;
  border-right: none;
  padding: 0 2px;
  color: #ddd;
  cursor: pointer;
}
.mobile-box i:hover {
  color: #aaa;
}
.mobile-box h4 {
  margin: 0;
  text-align: center;
  font-weight: normal;
  color: #F40;
}
.mobile-box img {
  width: 80px;
}

/* fixedwrap */
.fixedwrap {
  position: fixed;
  z-index: 10009;
  top: 0;
  padding: 7px 0;
}
.fixedwrap .tabs,
.fixedwrap .search-ft,
.fixedwrap .advanced-search,
.fixedwrap .g-top-left,
.fixedwrap .g-top-right {
  display: none;
}
/* g-bottom */
.helper {
  padding: 40px 0;
}
.helper-item {
  float: left;
  box-sizing: border-box;
  padding: 0 25px;
  width: 25%;
}

.helper-item li {
  float: left;
  margin-right: 10px;
  line-height: 2;
}
.helper-item i.fa {
  margin-right: 4px;
}
.links {
  padding: 7px 0 9px;
  border-top: 2px solid #F40;
  border-bottom: 1px solid #ddd;
}
.links a,
.guide a {
  color: #3C3C3C;
}

.linkslist li {
  float: left;
  padding: 0 6px;
  margin: 10px 0;
  line-height: 12px;
}
.links li + li {
  border-left: 1px solid #ddd;
}
.guide {
  padding: 10px 0;
}
.guide li {
  float: left;
  padding: 0 6px;
  margin: 6px 0;
}

.guide span {
  display: inline-block;
  margin: 6px 0;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}
.guide em  {
  font-style: normal;
  color: #6C6C6C;
}
.authlist li {
  line-height: 12px;
}
.authlist li + li {
  border-left: 1px solid #ddd;
}
/* auth */
.auth {
  padding-left: 6px;
}
.auth-item {
  float: left;
  display: block;
  height: 40px;
  margin-right: 15px;
  background: url(images/btm.jpg) no-repeat;
}
.auth-item-1 {
  width: 36px;
  background: url(images/btm1.gif) no-repeat;
}
.auth-item-2 {
  background-position: 0 0;
  width: 30px;
}
.auth-item-3 {
  background-position: -40px 0;
  width: 33px;
}
.auth-item-4 {
  background-position: -80px 0;
  width: 50px;
}
.auth-item-5 {
  background-position: -140px 0;
  width: 83px;
}
.auth-item-6 {
  background-position: -240px 0;
  width: 94px;
}
.auth-item-7 {
  background-position: -431px 0;
  width: 214px;
}
.auth-item-8 {
  background-position: -650px 0;
  width: 105px;
}
.auth-item-9 {
  background-position: -345px 0;
  width: 82px;
}
/* section1 */
.section1::before, .section1::after,
.main-nav::before, .main-nav::after,
.main-nav ul::before, .main-nav ul::after,
.main-l::before,.main-l::after,
.main-content::before,.main-content::after,
.section1::before, .section1::after,
.board-content-item::before, .board-content-item::after {
  content: "";
  display: table;
  clear: both;
}
.section1 {
  margin-top: -34px;
}
.side {
  float: left;
  width: 190px;
}
.main {
  float: right;
  width: 990px;
}
.wrap {
  width: 1190px;
  margin: 0 auto;
}
/* section-l */
.sidenav {
  position: relative;
  background-color: #FF6537;
  color: #fff;
}
.market-side {
  display: none;
  position: absolute;
  z-index: 10008;
  left: 190px;
  top: 37px;
  border: 2px solid #f40;
  border-left: none;
  padding-left: 20px;
  width: 682px;
  height: 516px;
  background-color: #fff;
}

.market-side::before,.market-side::after {
  content: "";
  display: table;
  clear: both;
}
.market-side-l {
  float: left;
  width: 408px;
  height: 100%;
  padding: 20px 10px 0 0 ;
}
.market-side-r {
  float: left;
  width: 244px;
  height: 100%;
  /*padding: 0 10px;*/
  padding-left: 10px;
  margin-left: 10px;
  background-color: #eee;
}
.market-side-r-hd {
  width: 140px;
  margin: 20px auto;
  text-align: center;
}
.market-side-r-hd h4 {
  margin: 0;
  font-size: 16px;
}

.market-side-r-hd i.fa {
  color: #dd4410;
}
.market-side-r-hd {
  position: relative;
}
.market-side-r-hd::before, 
.market-side-r-hd::after {
  position: absolute;
  content: " ";
  top: 12px;
  width: 48px;
  height: 1px;
  background-color: #ddd;
}
.market-side-r-hd::before {
  left: -24px;
}
.market-side-r-hd::after {
  right: -24px;
}

.market-side-r-bd-list::before,.market-side-r-bd-list::after {
  content: "";
  display: table;
  clear: both;
}
.market-side-r-bd-list {

}
.market-side-r-bd-list li  {
  position: relative;
  float: left;
  margin-right: 12px;
  margin-bottom: 30px;
}
.market-side-r-bd-list li img {
  width: 110px;
  height: 110px;
}
.market-side-r-bd-list li:hover span {
  background-color: rgba(255,255,255,1);
}
.market-side-r-bd-list li span {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 2px;
  text-align: center;
  background-color: rgba(255,255,255,.7);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.sidelist a {
  color: #fff;
}
.market-side,
.market-side a {
  color: #000;
}
.market-side-m-hd {
  position: relative;
}
.market-side-m-hd .more {
  position: absolute;
  top: 0;
  right: 0;

}
.market-side-m-hd h4 {
  margin: 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.market-side-m-bd ul li {
  display: inline-block;
}
.market {
  position: relative;
  padding: 8px 0;
}
.market h2 {
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
}
.market-side-m-bd-list {
  margin-bottom: 20px;
  padding: 6px 0;
  height: 100px;
  overflow: hidden;
}
.market-side-m-bd-list li {
  margin-right: 8px;
  margin-bottom: 8px;
}
.market i {
  position: absolute;
  right: 7px;
  top: 14px;
}
.sidelist li {
  position: relative;
  padding: 0 10px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
}
.sidelist li:hover i {
  color: #fff;
}
.sidelist li:hover { 
  background-color: #f40;
}
.sidelist li a:hover {
  color: #fff;
  text-decoration: underline;
}
.sidelist i {
  color: #FF905B;
}
.sidelist span {
  margin-left: 2px;
  display: inline-block;

}
.sidelist i.fa-angle-right {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #fff;
}
.sideads {
  width: 100%;
  height: 40px;
}

/* main */

.main-nav ul {
  float: left;
}
.main-nav ul li {
  float: left;
  font-weight: 700;
}
.hotlist {
  font-size: 16px;
  line-height: 28px;
}
.hotlist a {
   color: #F40;
}
.otherlist {
  font-size: 14px;
  line-height: 28px;
}
.otherlist a {
  color: #3C3C3C;
}
.main-nav ul li a {
  display: block;
  padding: 4px 8px;
}
/* main-l */
.main-l {
  float: left;
  width: 690px;
  margin-top: 7px;
}
/* main-r */
.shops-thumb::before, .shops-thumb::after {
  content: "";
  display: table;
  clear: both;
}
.main-r {
  float: right;
  width: 290px;
}
.avatar {
  margin-top: 17px;
  padding: 15px;
  padding-bottom: 24px;
  background: url(images/avatar-580-340.png) no-repeat;
  background-size: cover;
  text-align: center;
}
.avatar p {
  margin: 2px 4px;
} 
.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.avatar i.fa {
  margin-right: 8px;
}
.avatar-login li {
  float: left;
  width: 75px;
 
}
.avatar-login li + li {
  margin-left: 9px;
}
.avatar-login li a {
  display: block;
  padding: 2px 10px;
  background-color: #F40;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.avatar-login a:hover {
  background-color: #F22D00;
  color: #fff;
}
.avatar-login li.avatar-login-first {
  width: 92px;
}
/* tab标签 */
.board {
  background-color: #fff;
  text-align: center;
  margin-bottom: 2px;
}
.board-tab {
  padding: 10px;
  padding-bottom: 6px;
}
.board-content {
  position: relative;
  height: 46px;
  padding: 2px 20px 18px 20px;
  text-align: left;
}
.board-tab li {
  float: left;
  width: 20%;
}
.board-tab li a {
  margin: 0 8px;
  display: block;

}
.board-content-item li {
  float: left;
  width: 50%;
  line-height: 24px;
  overflow: hidden;
  height: 24px;
}
.board-content-item {
  position: absolute;
  width: 262px;
}
li.board-content-item-1 {
  width: 100%;
}
/* service */
body a:hover {
  color: #F40;
}
.servicelist li:hover p {
  color: #F40;
}
.service li {
  float: left;
  width: 70px;
  height: 67px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-top-color: transparent;
  border-left-color: transparent;
}
.service li a {
  display: block;
}
.service li a p {
  line-height: 20px;
}
.service .last {
  width: 72px;
  border-right: 1px solid #fff;
}
.si {
  margin-top: 11px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(images/sprite1.png) no-repeat;
}
/* service-icon si- */
.si-tel {
  background-position: 0 0;
}
.si-game {
  background-position: 0 -44px;
}
.si-travel {
  background-position: 0 -85px;
}
.si-insur {
  background-position: 0 -132px;
}
.si-tro {
  background-position: 0 -176px;
}
.si-movie {
  background-position: 0 -220px;
}
.si-eatout {
  background-position: 0 -264px;
}
.si-money {
  background-position: 0 -308px
}
.si-service {
  background-position: 0 -352px;
}
.si-music {
  background-position: 0 -396px;
}
.si-shuidianmei {
  background-position: 0 -440px;
}
.si-ticket {
  background-position: 0 -484px;
}

/* box for Apps */
.box {
  background-color: #fff;
  padding-top: 8px;
  padding-left: 12px;
}

.box h3 {
  position: relative;
  margin: 0;
}
.box h3 .more {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 400;
  font-size: 12px;

}
/* app */
.apps ul {
  padding-top: 4px;
}
.apps ul li {
  float: left;
  margin-right: 23px;
  margin-bottom: 8px;
}
.apps ul img {
  width: 32px;
  height: 32px;
}
/* toutiao */
.toutiao {
  height: 90px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.box-si {
  background: url(images/sprite1.png) no-repeat;
}
.toutiao .box-si {
  background-position: 0 -769px;
}
.toutiao-content {
  margin-top: 10px;
  overflow: hidden;
}
.toutiao-item img {
  float: left;
  margin-right: 10px;
  width: 60px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.toutiao-item:hover img {
  opacity: .8;
}
.toutiao-item em {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
.toutiao-item p {
  overflow: hidden;
  height: 36px;
  padding-right: 10px;
}
/* youhaohuo */
.goods {
  margin-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.goods .box-si {
  background-position: 0 -648px;
  height: 40px;
}

.goodlist {
  overflow: hidden;
  margin-top: 10px;
}
.goodlist li {
  margin-bottom: 20px;
}
.goodlist li:hover img {
  opacity: .8;
}
.goodlist li img {
  float: left;
  margin-right: 10px;
  width: 100px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.goodlist em,
.toutiao-item em  {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.goodlist em {
  line-height: 32px;
}

.goodlist p,
.toutiao-item p {
  height: 36px;
  overflow: hidden;
  color: #666;
}
.toutiao-item p {
  padding-right: 10px;
}
.goodlist strong {
  color: #68ACF5;
  display: block;
  margin-top: 6px;
}
.refresh {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
/* shops */
.shops {
  margin-top: 10px;
  padding-left: 0;
  padding-bottom: 10px;
}
.shops .box-si {
  background-position: 9px -806px;
}
.shopslist {
  /*padding-right: 8px;*/
}
.shopslist li {
  padding-top: 18px;
  padding-left: 10px;
  border-bottom: 1px solid #f1f1f1;
}
li.shopslist-item-last {
  border-bottom: 0;
}
.shopslist em {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}
.shopslist p {
  margin-bottom: 8px;
}
.shops-thumb {
  padding-right: 10px;
  padding-bottom: 10px;
}
.shops-thumb a {
  float: right;
  overflow: hidden;
}

.shops-thumb a img {
  width: 89px;
  height: 89px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.shops-thumb a:hover img {
  opacity: .8;
}
.shops-thumb a.thumb-lg img {
  width: 180px;
  height: 180px;
  margin-left: 1px;
}
/* hot */
.hot h3 {
  margin: 14px 0 8px; 
  font-size: 14px;
}
.hot-item img {
  width: 100%;
}
/* main-l */
/* slider */
.slider {
  float: left;
  width: 520px;
}
/* 轮播区 */
/* 轮播区－1*/
.slider-1 {
  position: relative;
  height: 280px;
  overflow: hidden;
}

.slider-1-list::before, .slider-1-list::after,
.slider-2-list::before, .slider-2-list::after {
  content: "";
  display: table;
  clear: both;
}
.slider-1-list,
.slider-2-list {
  position: relative;
  z-index: 9999;
  width: 9999px;
}
.slider-1-list li,
.slider-2-list li {
  width: 520px;
  float: left;
}
.slider-1:hover .prev,
.slider-1:hover .next,
.slider-2:hover .prev,
.slider-2:hover .next {
  display: block;
}
.prev,
.next {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 50%;
  margin-top: -17px;
  padding: 0 8px 2px ;
  background-color: rgba(0,0,0,.2);
  color: #fff;

  font-size: 32px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,.4);
}
.dot {
  position: absolute;
  z-index: 10000;
  bottom: 8px;
  left: 50%;
}
.slider-1 .dot {
  margin-left: -35px;
}
.slider-2 .dot {
  margin-left: -42px;
}
.dotlist {
  padding: 0 2px;
  border-radius: 10px;
  background-color: rgba(255,255,255,.4);

}
.dotlist li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #B7B7B7;
  cursor: pointer;
}

/* 轮播区－2*/
.slider-2 {
  position: relative;
  height: 221px;
  margin-top: 13px;
  overflow: hidden;
}
.slider-2-n {
  position: absolute;
  top: 2px;
  right: 0;
}
.slider-2-n i {
  color: #C12C26;
  font-style: normal;
}
.tmall {
  height: 18px;
  border-bottom: 2px solid #C12C26;
}
.tmall-logo {
  display: inline-block;
  background: url(images/TB10wLZLVXXXXcGXVXXXXXXXXXX-49-17.gif) -4px 2px no-repeat;
}
.tmall-logo strong {
  padding-left: 48px;
  font-size: 14px;
  border-bottom: 2px solid #000;
}
.tmall p {
  display: inline-block;
}

.tmall-item-type1 a:first-child img {
  display: block;
  height: 201px;
}
.tmall-item-type1 a img {
  display: block;
  height: 100px;
}
/* fl */
.tmall-item-type1 a {
  float: left;
  overflow: hidden;
  margin-left: -1px;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.tmall-item-type2 a {
  float: left;
  overflow: hidden;
  margin-left: -1px;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.tmall-item-type2 a img {
  display: block;
  height: 100px;
}
.tmall-item-type3 a {
  float: left;
  padding-left: 10px;
  padding-top: 20px;
}
.tmall-item-type3 img {
  display: block;
}
.tmall-item-type1::before,.tmall-item-type1::after,
.tmall-item-type2::before,.tmall-item-type2::after,
.tmall-item-type3::before,.tmall-item-type3::after {
  content: "";
  display: table;
  clear: both;
}


/* ads */
.ads {
  float: right;
  width: 160px;
}
.ads-1 {
  height: 280px;
}

.ads-2 {
  margin-top: 4px;
  height: 230px;
}
.ads-2 h5 {
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
}





/* section2 */
.section2::before,.section2::after,
.recommend::before,.recommend::after,
.recommend-item::before,.recommend-item::after,
.m-favourite::before,.m-favourite::after,
.m-fashion::before, .m-fashion::after,
.m-life::before,.m-life::after,
.m-play::before, .m-play::after,
.m-shihui::before, .m-shihui::after {
  content: "";
  display: table;
  clear: both;
}
.section2 {
  /*margin-top: 10px;*/
}
.s2-main {
  float: left;
  width: 890px;
}
.s2-side {
  float: right;
  width: 290px;
}
.recommend {
  margin-top: 7px;
  background-color: #fff;
}
.recommend-item {
  display: block;
  float: left;
  width: 20%;

}
.recommend-item img {
  float: left;
  margin: 8px 10px;
  border-radius: 50%;
  border: 1px solid #ededed;
  width: 60px;
  height: 60px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.recommend-item em {
  display: block;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}
.recommend-item p {
  height: 18px;
  overflow: hidden;
}

.recommend-item strong {
  display: block;
  margin-top: 6px;
  color: #999;
  font-weight: 400;
}
.recommend-item:hover img {
  opacity: .8;
}
.recommend-item-1:hover img {
  border-color: #9a745f;
}
.recommend-item-2:hover img {
  border-color: #81c18f;
}
.recommend-item-3:hover img {
  border-color: #72a5f6;
}
.recommend-item-4:hover img {
  border-color: #846fc7;
}
.recommend-item-5:hover img {
  border-color: #de525e;
}
.recommend-item-1,.recommend-item-1:hover {
  color: #9a745f;
}
.recommend-item-2,.recommend-item-2:hover {
  color: #81c18f;
}
.recommend-item-3,.recommend-item-3:hover {
  color: #72a5f6;
}
.recommend-item-4,.recommend-item-4:hover {
  color: #846fc7;
}
.recommend-item-5,.recommend-item-5:hover {
  color: #de525e;
}
.s2-side .side-content {
  margin-top: -32px;
}
.devider {
  margin-bottom: 0;
  position: relative;
  background: url(images/sprite1.png) no-repeat;
  height: 31px;
}
/* devider position */
.is-favourite {
  background-position: center -604px;
}
/* i changed from -719px to -726px */
.is-fashion {
  background-position: center -726px;
}
.is-life {
  background-position: center -687px;
}
.is-play {
  background-position: center -527px;
}
.is-shihui {
  background-position: center -567px;
}
.devider .more {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-weight: 400;
  font-size: 12px;
  border-radius: 16px;
  background-color: #fff;
  padding: 2px 14px;
  -webkit-transition: .3s all;;
  -o-transition: .3s all;;
  transition: .3s all;;: 
}
.devider .more:hover {
  color: #fff;
  background-color: #f40;
}


.m-favourite {
  margin-right: -10px;
}
/* fav */
.fav-item {
  float: left;
  width: 440px;
  height: 362px;
  margin: 0 9px 10px 0;

}
.fav-item::before, .fav-item::after,
.fav-item-main-up::before,.fav-item-main-up::after,
.fav-m-column-2::before,.fav-m-column-2::after,
.fav-item-line::before,.fav-item-line::after {
  content: "";
  display: table;
  clear: both;
}
.fav-item-1 .fav-item-side {
  background-color: #6cc919;
}
.fav-item-2 .fav-item-side {
  background-color: #f45238;
}
.fav-item-3 .fav-item-side {
  background-color: #ffa401;
}
.fav-item-4 .fav-item-side {
  background-color: #0fb3bd;
}
.fav-item-side {
  float: left;
  width: 100px;
}
.fav-item-side img {
  width: 100%;

}
.fav-item-side-links {
  padding: 4px 0 8px 10px;
  height: 248px;

}
.fav-item-side-links strong {
  display: block;
  margin: 6px 0 2px ;
  font-size: 14px;
  color: #fff;
}

.fav-item-side-links-gp {

}

.fav-item-side-links-gp a {
  display: inline-block;
  padding: 1px 8px;
  background-color: rgba(255,255,255,.2);
  color: #fff;
  max-width: 96px;
  overflow: hidden;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;:

}
.fav-item-side-links-gp a.h-tag::after {
  display: inline-block;
  content: " ";
  margin-left: 2px;
  background: url(images/TB17w6xLVXXXXXoXXXXXXXXXXXX-10-12.png);
  width: 10px;
  height: 12px;
}
.fav-item-side-links-gp a:hover {
  background: #fff;
}
.fav-item-main {
  float: left;
  width: 338px;
  height: 358px;
  border: 2px solid;
  border-left: none;
  background: #fff;
  transition: .3s all;
}
.fav-item-1 .fav-item-main {
  border-color: #C5EAA4;
}
.fav-item-2 .fav-item-main {
  border-color: #F5B8BA
}
.fav-item-3 .fav-item-main {
  border-color: #FBF5BE
}
.fav-item-4 .fav-item-main {
  border-color: #C8E9ED
}
.fav-item-1:hover .fav-item-main {
  border-color: #60be0d;
}
.fav-item-2:hover .fav-item-main {
  border-color: #e44346;
}
.fav-item-3:hover .fav-item-main {
  border-color: #f6de58;
}
.fav-item-4:hover .fav-item-main {
  border-color: #6bc2ce;
}
.fav-item-main-up {
  height: 201px;
  overflow: hidden;
}
.fav-item-main-up a {
  display: inline-block;
  float: left;
  overflow: hidden;
}
.fav-item-main a:hover img {
  opacity: .8;
}
.fav-m-column-2 {
  float: left;
  width: 100px;
}
.fav-pic-1 img {
  display: block;
  height: 201px;
}
.fav-pic-2 img {
  width: 138px;
}
.fav-pic-3 {
  position: relative;
}
.fav-pic-3 span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  color: #000;
  background-color: rgba(255,255,255,.7);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.fav-pic-3:hover span {
  background-color: rgba(255,255,255,1);
  color: #f40;
}
.fav-pic-3 {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}
.fav-pic-3 img {
  display: block;
  width: 80px;
}
.fav-item-line {
  padding: 4px 0;
  border-top: 1px solid #efefef;
}
.fav-item-line a {
  float: left;
  width: 50px;
  margin-left: 28px;
  text-align: center;
}

.fav-item-line img {
  width: 50px;
}
/* 60be0d 绿 */
.web-ads {
  width: 100%;
  height: 70px;
  background: url(images/TB14nX0KVXXXXbRaXXXSutbFXXX.jpg) no-repeat;
  background-size: cover;
}

/* fashion */
.fas-item-pic::before, .fas-item-pic::after {
  content: "";
  display: table;
  clear: both;
}
.m-fashion {

}
.life-item,
.fas-item,
.play-item {
  float: left;
  width: 219px;
  height: 258px;
  background: #fff;
  border: 1px solid transparent;
}
.life-item:hover,
.fas-item:hover,
.play-item:hover {
  border-color: #f40;
}

.fas-item + .fas-item,
.life-item + .life-item,
.play-item + .play-item {
  margin-left: 2px;
}

.fas-item .fas-item-heading {
  margin: 0;
  padding: 6px 0;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.fas-item-heading {
  position: relative;

}
.fas-item-heading .fa {
  margin-left: 6px;
  color: #ccc;
  font-size: 26px;
  cursor: pointer;
}
.fas-item-heading span {
  position: absolute;
  opacity: 0;
  top: 30px;
  right: 0;
  width: 66px;
  height: 80px;
  padding: 10px;
  text-align: center;
  background-color: #fff;

}

.fas-item .fas-item-heading span img {
  width: 66px;
  height: 66px;
}
.fas-item-heading span em {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
.fas-item-heading .fa:hover {

}
.fas-item-heading::after {
  position: absolute;
  
  width: 60px;
  height: 60px;
}
.fas-item .fas-item-heading img {
  height: 18px;
}
.fas-item-pic a {
  display: inline-block;
  float: left;
}
.fas-item-pic a:hover img {
  opacity: .8;
}
.fas-item-pic-lg {
  padding: 10px;
  border-right: 1px solid #f1f1f1;
}
.fas-item-pic-sm {
  position: relative;
  padding: 10px 10px 10px 7px;
  border-bottom: 1px solid #f1f1f1;
}
.fas-item-pic img {
  display: block;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.fas-item-pic-lg img {
  width: 90px;
}
.fas-item-pic-sm img {
  width: 90px;
}

.fas-item-pic-sm span {
  position: absolute;
  bottom: 10px;
  left: 7px;
  right: 10px;
  text-align: center;
  color: #000;
  background-color: rgba(255,255,255,.7);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.fas-item-pic-sm:hover span {
  background-color: rgba(255,255,255,1);
  color: #f40;
}
/* @LOF => layout flexible */
.m-life + .m-life,
.m-play + .m-play {
  margin-top: 6px;
}

.shihui-item {
  float: left;
  width: 183px;
  height: 117px;
  padding: 10px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
.shihui-item::before,.shihui-item::after {
  content: "";
  display: table;
  clear: both;
}
.shihui-item:hover {
  border-color: #f40;
}
.shihui-item-lg {
  width: 253px;
}

.shihui-item-heading h3 {
  margin: 0;
}
.shihui-item-heading img {
  height: 18px;
}
.shihui-item-heading .fa {
  margin-left: 8px;
  color: #ccc;
  font-size: 26px;
}
.TQG {
  position: relative;
}
.TQG-time {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  color: #dc3535;
}
.shihui-item-lg h4 {
  margin: 6px 0;
  font-weight: 400;
  font-size: 12px;
  max-width: 168px;
}

.shihui-price {
  color: #dc3535;
  font-size: 16px;
}
.shihui-item-content span {
  display: block;

}
.shihui-sold {
  color: #aaa;
}
.shihui-item-pic {
  float: right;
}
.shihui-item-pic img {
  width: 90px;
}
.shihui-slogan {
  margin: 10px 0;
  font-size: 14px;
}
.shihui-slogan h4 {
  margin: 0;

}
.shihui-slogan em {
  font-style: normal;
}
.shihui-pill {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 12px;
  border: 1px solid #f40;
  color: #f40;
}
.m-shihui + .m-shihui {
  margin-top: 1px;
}


/* section3 */
.salelist::before, .salelist::after,
.sale-wrap::before, .sale-wrap::after,
.sale-itemlist::before, .sale-itemlist::after,
.guesslist::before, .guesslist::after,
.count::before,.count::after {
  content: "";
  display: table;
  clear: both;
}
.sale{
  margin-top: 20px;
  background-color: #fff;
}
.m-title {
  padding-top: 8px;
  padding-bottom: 8px;
}
.m-heading {
  position: relative;
  font-size: 18px;
  width: 100px;
  margin: 5px auto 15px;
}
.m-heading::before, 
.m-heading::after {
  position: absolute;
  content: " ";
  top: 14px;
  width: 60px;
  height: 1px;
  background-color: #f1f1f1;
}
.m-heading::before {
  left: -70px;
}
.m-heading::after {
  right: -70px;
}
.m-heading i.fa {
  color: #f40;
}
.salelist {
  margin-top: 18px;
  padding-left: 18px;
  height: 14px;
  overflow: hidden;
}
.salelist li {
  float: left;
  padding: 0 8px;
  height: 14px;
  line-height: 12px;
}
.salelist li + li {
  border-left: 1px solid #e8e8e8;
}


/* salebox */
.salebox {
  /*border: 1px solid #f1f1f1;*/
}
.sale-item {
  float: left;
  padding: 10px;
}

.sale-item:hover {
  border-color: #f40;
}
.sale-btm {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.sale-btm em {
  font-style: normal;
}
.sale-item-lg {
  position: relative;
  width: 212px;
  height: 382px;
  border: 1px solid #f1f1f1;
}
.sale-item-sm {
  width: 140.5px;
  height: 180px;
  border: 1px solid #f1f1f1;

}
.sale-item-sm .sale-price {
  font-size: 12px;
}
.sale-item-lg img {
  width: 214px;
  height: 214px;
}

.sale-item-sm img {
  width: 139px;
  height: 139px;
}

.sale-itemlist li {
  float: left;
  width: 33.33333333%;

}
.sale-price, .sale-sales {
  display: block;
}

.sale-price {
  margin-top: 10px;
  color: #f40;
  font-weight: 700;
  font-size: 14px;
}
.sale-sales {
  color: #aaa;
}
.sale-desc {
  margin-top: 10px;
}
.sale-item-md {
  padding: 10px;
  height: 156px;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
}
/* hover */
.sale-item-md:hover {
  border-color: #f40;
}
.sale-item-md img {
  width: 100%;
}

/* guess */
.guess {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: #fff;
}
.m-desc {
  margin-top: -18px;
  text-align: center;
}
.guesslist {
  padding-left: 20px;
  padding-right: 10px;
}
.guess-item {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding-right: 10px;
  margin-bottom: 40px;

}
.guess-wrap {
  position: relative;
  background-color: #f5f5f5;
  padding-bottom: 14px;
  border: 1px solid transparent;
}
.guess-wrap img {
  width: 100%;
}
.guess-wrap:hover {
  border-color: #f40;
}
.guess-wrap:hover .similar {
  display: block;
}
.guess-item .desc {
  margin-bottom: 10px;
  padding: 0 10px;
  height: 36px;
  overflow: hidden;
}
.guess-item .count {
  padding: 0 10px;
}

.count .count-price {
  float: left;
  color: #F40;
  font-size: 16px;
}
.count-price em {
  font-style: normal;
}
.count .count-sales {
  float: right;
}

.similar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 81px;
  background: url(images/p.png) no-repeat;
  text-align: center;
  color: #fff;
}
a.similar:hover {
  color: #fff;
}
.similar h4 {
  display: inline-block;
  margin: 10px 0 0 0 ;
  padding-bottom: 6px;
  width: 120px;
  border-bottom: 1px solid #d65915;
  font-size: 18px;
  font-weight: 400;

}
.similar p {
  margin-top: 2px;
}
/* m-end */
.m-end {

}
.m-end .m-heading {
  text-align: center;
}





