/* daminos */
/*
    @html fontSize: 75%;  / 16*75%=10px
    @body max-width: 30rem; / 30*12=300px
    @color 
    0079AD font blue
    E0002A font red
 */
a {
  text-decoration: none; 
}
ol,ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {

}
h1 {
}
header {
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}
.heading1 {
  width: 100%;
}
.logo {
  float: left;
}
.login {
  float: right;
  margin-right: 2rem;
}
.login a {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 1.1rem;
  padding-left: 2rem;
}
.log {
  color: #E0002A;
  background: url(images/dominos.png) no-repeat -10px -1197px;
}
.log em {
  margin-left: .3rem;
  border: 5px solid #CCC;
  border-width: 5px 0 5px 5px;
  border-color: #fff #FA001F;
  display: inline-block;
}
.reg {
  color: #0079AD;
}
.reg em {
  margin-left: .3rem;
  border: 5px solid #CCC;
  border-width: 5px 0 5px 5px;
  border-color: #fff #0079AD;
  display: inline-block;
}
.heading2 {
  /*margin-top: 1rem;*/
  width: 100%;
}
.hotline {
  float: left;
  color: #0079AD;
  font-weight: 400;
  font-size: 2rem;
}
.hotline span {
  display: inline-block;
  margin-top: 1.2rem;
  margin-left: 2rem;
}

.order {
  position: relative;
  float: right;
  padding-right: 4rem;
}
.order > a {
  display: block;
  padding: 1rem 2rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  background: linear-gradient(37deg, #E0002A 0, red 100%);
  color: #fff;
  font-size: 1.6rem;
}

.order-list {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 12rem;
}
.order-list ul {
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}
.order-list ul li {
  border-bottom: 1px solid #ddd;
}
.order-list ul li a {
  display: block;
  padding: 1rem 0;
  color: #0079AD;
  font-size: 1.5rem;
}



.new {
  margin: 2rem 0;

}


/* end */
.new {
  width: 100%;
}
.new img {
  width: inherit;
}
.caro {
  width: 100%;
}
.caro img {
  width: inherit;
}
