/* daminos */
/*
    @html fontSize: 75%;  / 16*75%=10px
    @body max-width: 30rem; / 30*12=300px
    @color 
    0079AD font blue
    E0002A font red
 */

html {
  font-size: 10px;
}
body {

}
h1 {
  margin: 0;
}
header {
  margin: 1rem 0;
  position: relative;
  color: #E0002A;
}
header h1 {
  text-align: center;
  font-size: 2rem;
}
.order {
  position: absolute;
  right: 2rem;

  cursor: pointer;
}
.order span {
  font-size: 2rem;
}
.top-nav {
  display: none;
  position: absolute;
  top: 2.8rem;
  right: -1.8rem;
  width: 12rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}
a {
  text-decoration: none; 
}
header ul {

}
header ul li {
  border-bottom: 1px solid #ddd;
}
.new {

}
header ul li a {
  display: block;
  padding: 1rem 0;
  color: #0079AD;
  font-size: 1.5rem;
}
.new {
  width: 100%;
}
.new img {
  width: inherit;
}
.caro {
  width: 100%;
}
.caro img {
  width: inherit;
}
