/* index.css */
/* 
@workaround 
@color query
*/

a:link,a:visited {
  color:#000;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei",sans-serif;
}
/* common */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(34,34,34);
  width: 100%;
  z-index: 999;
}
header .container {
  margin: 0 auto;
}
header h2 {
  padding: 6px calc(50% - 200px);
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.qa {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
  cursor: default;
}

section.container {
  width: 1080px;
  margin: 41px auto;
  overflow: hidden;
}

aside.profile {
  float: left;
  width: 20%;
  height: 100vh;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: #fff;
}
.profile {
}
.avatar {
  text-align: center;
}
.avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.avatar .name {
  margin-top: 14px;
  font-size: 24px;
}
.avatar .info {
  margin-top: 8px;
}
.avatar .info ul {
  font-size: 0;
}
.avatar .info ul li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  color: #aaa;
}
.avatar .info ul li:first-child {
  border-right: 1px solid #ddd;
}
.avatar .status {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 24px;
  border-radius: 16px;
  border: 1px solid #138185;
  background-color: #fff;
  color: #138185;
  cursor: default;
  transition: all .3s ease;
}
.avatar .status:hover {
  background-color: #138185;
  color: #fff;
}
.contact {
  margin-top: 20px;
}
.contact ul li {
  padding-left: 50px;
  line-height: 1.5;
  cursor: pointer;
  color: #138185;
}
.contact ul li a {
  color: #138185;
}
.contact ul li:hover {
  text-decoration: underline;
}
.contact i {
  padding-right: 4px;
}
.main {
  float: right;
  padding-top: 40px;
  padding-left: 3em;
  width: 80%;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
}
.heading {
  margin-bottom: 20px;
}
.heading h4 {
  position: relative;
  display: inline-block;
  font-size: 1.4em;
  color: #138185;
  cursor: default;
}
.heading h4::before {
  position: absolute;
  left: -.9em;
  content: "";
  height: 100%;
  width: .5em;
  background-color: #138185;
}


/* works */
.works {
  font-size: 0;
}
.works li {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-size: 14px;
  margin-bottom: 20px;
}
.works li a {
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #138185;
}
.works li a:last-child {
}
/* psd-works */

.psd {
  font-size: 0;
}
.psd-col {
  display: inline-block;
  font-size: 14px;
  width: 50%;
  min-height: 450px;
  box-sizing: border-box;
  padding: 0 2% 0 0;
  vertical-align: top;
}

.psd-col h5 {
  font-size: 20px;
  color: #000;
  margin-bottom: 14px;
  margin-top: 14px;
}

.psd-item {
  position: relative;
}
.psd-col .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .7;
}
.psd-col .desc {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%,50%);
  color: #fff;
  text-align: center;
  transition: all .35s;
  opacity: 0;
}
.psd-col:last-child {
  padding-left: 2%;
}
.desc a:hover {
  text-decoration: underline;
}

.bar {
  position: absolute;
  content: "";
  bottom: 50%;
  width: 2em;
  height: 2px;
  background-color: #fff;
  transition: all .35s ease;
  opacity: 0;
}
.bar-left {
  left: 5em;
}
.bar-right {
  right: 5em;
}
.desc h6 {
  font-size: 20px;
}
.desc p {
  font-size: 12px;
}
.psd-item {
  height: 196px;
}
.greetings {
  font-size: 24px;
}

.section {
  padding: 20px 0;
}
.section::before,.section::after {
  content: "";
  display: table;
  clear: both;
}

a.underline {
  text-decoration: underline;
  color: #138185;
}

/* explanation 针对IFE是什么的说明 */
.expl { 
  position: relative;
  padding: 20px 0 0;
  cursor: default;
}
.help::before {
  position: absolute;
  content: "?";
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  left: -2.5em;
  top: 1em;
  background-color: #138185;
  color: #fff;
  cursor: help;
}

.expl:hover a {
  color: #138185;
  text-decoration: underline;
}
/* Hard Icon*/
.hard::after {
  content: "hard";
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  padding: 0 2px;
  border-radius: 4px;
  font-size: 12px;
  background-color: red;
  color: #fff;
}
/* footer */
.footer .container {
  background-color: #ddd;
  padding: 1rem 0;
}
.footer .container p {
  text-align: center;
  line-height: 2;
}
.footer .container p em {
  font-weight: 700;
}
.footer .container p a:hover {
  border-bottom: 1px solid #222;
}
/* backTop */
 .backTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: url(images/scrollup.png) no-repeat;
}
