/* index.css */
/* 
@workaround 
@color query
*/
/* css reset */
a {
  text-decoration: none;
}
a:link,a:visited {
  color:#000;
}
ol,ul { 
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei",sans-serif;
}
/* index */
/* common */

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(34,34,34);
  width: 100%;
  z-index: 999;
}
header .container {
  width: 1080px;
  margin: 0 auto;
}
header h2 {
  padding: 6px calc(50% - 200px);
  font-size: 24px;
  color: #fff;
}

.qa {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
  cursor: default;
}

section.container {
  width: 1080px;
  margin: 44px auto;
  padding: 2em 0 0 0;
  overflow: hidden;
}

aside.profile {
  position: fixed;
  float: left;
  width: 240px;
  height: 100vh;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #fff;
}
.profile {
}
.avatar {
  text-align: center;
}
.avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.avatar .name {
  margin-top: 14px;
  font-size: 24px;
}
.avatar .info {
  margin-top: 8px;
}
.avatar .info ul {
  font-size: 0;
}
.avatar .info ul li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  color: #aaa;
}
.avatar .info ul li:first-child {
  border-right: 1px solid #ddd;
}
.avatar .status {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 24px;
  border-radius: 16px;
  border: 1px solid #138185;
  background-color: #fff;
  color: #138185;
  cursor: default;
  transition: all .3s ease;
}
.avatar .status:hover {
  background-color: #138185;
  color: #fff;
}
.contact {
  margin-top: 20px;
}
.contact ul li {
  padding-left: 50px;
  line-height: 1.5;
}
.main {
  float: right;
  width: 800px;
  height: 200vh;
  box-sizing: border-box;
}
.left {
  float: left;
  width: 31%;
}

.right {
  float: right;
  width: 68%;
}
/* left */
.left .skills {
  display: block;
  box-sizing: border-box;
  padding: 15% 0;
  border: 1px solid #5B9BD5;
  color: #5B9BD5;
  font-size: 24px;
  text-align: center;
  cursor: default;
  transition: all .3s ease-in-out;
}
.left .skills:hover {
  background-color: #5B9BD5;
  color: #fff;
}
/* right */
.right .works{
  padding: 0 0 0 8%;
}
.works li {
  margin-bottom: 20px;
}
.works li a {
  margin-right: 20px;
}
.works li a:hover {
  text-decoration: underline;
}
.works li a:first-child {
  color: #DAA520;
}
.works li a:nth-child(2) {
  color: #AAA
}
.works li a:last-child {
  color: #BBB;
}
.greetings {
  font-size: 24px;
}

.section {
  padding: 20px 0;
}
.section::before,.section::after {
  content: "";
  display: table;
  clear: both;
}

a.underline {
  text-decoration: underline;
  color: #138185;
}

.desc dd {
  line-height: 1.5;
}
/* Hard Icon*/
.hard::after {
  content: "hard";
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  padding: 0 2px;
  border-radius: 4px;
  font-size: 12px;
  background-color: red;
  color: #fff;
}
.right h3 {
  font-size: 20px;
}
.work li:hover a {
  color: #138185;
}
.work li a {
  line-height:1.5;
  transition: all .3s ease;
}