/* reset */
* { margin: 0;padding: 0; }
a{
  text-decoration: none;
}
ul,ol { list-style: none; }
h1 {
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
/* style */
body {
  font-family: "Microsoft Yahei",arial,sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
.profile .container {
  max-width: 960px;
}
header {
  padding: 44px 0;
}

header .name h1 {
  font-size: 1.8em;
  text-align: center;
}
header .name h1 em{
  font-size: .7em;
  font-style: normal;
}

.nav {
  margin-top: 8px;
  text-align: center;
}
.nav ul li {
  position: relative;
  display: inline-block;
  line-height: 1.6;
  padding: 0 4px;
}
.nav ul li {
  cursor: pointer;

}
.contact:hover .hidden {

}

.contact .hidden {
  position: absolute;
  top: -1em;
  left: -10em;
  z-index: 1;
  background-color: red;
  
}
.profile h1 {
  margin-bottom: 44px;
  font-size: 3em;
  color: #138185;
  text-align: center;
}

.prof-con {
  max-width: 660px;
  margin: 0 auto 44px;
  overflow: hidden;
}
.prof-con .left{
  float: left;
  width: 310px;
}
.prof-con .right {
  float: right;
  width: 310px;
}
.summary {
  font-size: 1em;
  line-height: 1.1;
}
.c-select {

}
.select {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-size: 1.3em;
}
.fl {
  float: left;
}

.fr {
  float: right;
}
.hr {
  background-color: #138185;
  transition: all .3s ease;
}

.tech {
  background-color: #126eb7;
  transition: all .3s ease;
}

.hr:hover {
  background-color: #136b85;
}

.tech:hover {
  background-color: #124cb7;
}

.bgs {
  padding: 44px 0;
  background-color: #138185;
}

.bgs .container {
  max-width: 960px;
}
.bgs h1 {
  margin-bottom: 1em;
  font-size: 1.4em;
  color: white;
  text-align: center;
}
.flow {
  display: table;
}
.flow > div {
  display: table-cell;
}
.flow p {
  text-align: center;
  color: rgba(255,255,255,.7);
  margin-top: 8px;
}
.step {
  width: 240px;
}
.step > i {
  display: block;
  text-align: center;
  color: rgba(0,0,0,.9);
}
.flow .icon-arrow-right {
  color: rgba(255,255,255,.7);
}





@media only screen and (max-width: 675px) {

/*header .name h1 {
  font-size: 2em;
}*/
header {
  padding: 22px 0;
}
.profile .container {
  width: 100%;
  padding: 0;
}
.profile h1 {
  font-size: 1.5em;
  padding: 0 calc(50% - 150px);
}
.profile .summary {
  font-size: 1em;
  
}
.fl, .fr {
  float: none;
}
.prof-con {

}
.prof-con .left {
  float: none;
  width: 100%;
  padding: 0 calc(50% - 150px);
  font-size: 1.1em;

  
}
.prof-con .right {
  margin-top: 20px;
  float: none;
  width: 100%;
}
.prof-con {
  margin-bottom: 0;
}
a.select {
  display: block;
  line-height: 4em;
  font-size: 2em;
  border-radius: 0;
}
.flow {
  width: 100%;
}
.flow > div {
  display: inline-block;
  width: 50%;
  margin-bottom: 22px;
}
.flow > .arrow {
  display: none;
}
