/* placeholder */
body {
  font-family: Helvetica, arial;
}
.title {
  width: 100%;
}
.title h2 {
  font-size: 3rem;
  text-align: center;
}
p {
  margin: 0;
}
.wrap {
}
.container {
  width: 100%;
  text-align: center;

}
.register {
  display: inline-block;

}
.register_box {
  margin-bottom: 10px;
  width: 300px;
  box-sizing: border-box;
}

.register_box input,
.register_box button {
  outline: none;
}


.register_box::before,.register_box::after {
  content: "";
  clear: both;
  display: table;
}

.register_box label {
  float: left;
  width: 5em;
  margin-right: 1em;
  line-height: 34px;
  text-align: right;
  vertical-align: baseline;
}
.register_box input {
  box-sizing:  border-box;
  width: 100%;
  padding: 1em .8em;
  font-size: 1em;
  border-radius: 4px;
  /* 重置默认input样式 */
  border: 1px solid #ccc;
  -webkit-appearance:none;


}

.register_box button {
  transition: .3s all;
}
.register_box button:hover {
  background: #ddd;

}

.register_box .btn {
  padding: 12px;
  width: 100%;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}
.register_box .btn-submit {
  background-color: #89E1BA;
  color: #fff;
}
.register_box #verfCode {
  float: left;
  width: 140px;
  margin-right: 20px;
}
.register_box #verfCode + a {
  float: left;
  text-decoration: none;
  color: inherit;
  width: 140px;
  line-height: 52px;
  border-radius: 4px;
  background-color: #eee;
  text-align: center;
}
.register_box #verfCode ~ p {
  float: left;
}
.register_box p {
  
  margin-top: 4px;
  text-align: left;

}

/* for JQ */
.register_box input.error {
  border-color: #c9302c;
}
.register_box input.success {
  border-color: #5cb85c;
}
.register_box .disabled {
  cursor: not-allowed;
}

@media only screen and (max-width: 479px) {

}