/* placeholder */
ul,ol {
  list-style: none;padding: 0;margin: 0;
}
body {
  font-family: Helvetica, arial;
}
/* tab */
.tab_wrap ul::before,.tab_wrap ul::after {
  content: "";display: table;clear: both;
}

.tab_wrap {
  margin-bottom: 20px;
}
.tab_list {
  position: relative;
}
.tab_list .tabBar {
  position: absolute;
  bottom: 0;
  width: 3em;
  margin: 0 .5em;
  height: 2px;
  background-color: #63D1B3;
  transition: .3s all;
}
.tab_wrap ul {
  display: inline-block;
  text-align: center;
}
.tab_wrap ul li { 
  float: left; 
  width: 4em;
  cursor: pointer;
  line-height: 35px;
  opacity: .8;
  -ms-filter:"alpha(Opacity=70)";
  transition: .3s all;
}
.tab_wrap ul li.active {
  color: #63D1B3;
  opacity: 1;
}
.tab_wrap ul li:first-child.active ~ .tabBar {
  left: 0;
}
.tab_wrap ul li:nth-child(2).active ~ .tabBar {
  left: 4em;
}


/* tab END*/
.title {
  width: 100%;
}
.title h2 {
  font-size: 3rem;
  text-align: center;
}
p {
  margin: 0;
}
.wrap {

  text-align: center;

}
.container {
  display: inline-block;
}
.form-container {
  display: inline-block;

}
.register {

}
.register_box {
  margin-bottom: 10px;
  width: 300px;
  box-sizing: border-box;
}

.register_box input,
.register_box button {
  outline: none;
}


.register_box::before,.register_box::after {
  content: "";
  clear: both;
  display: table;
}

.register_box label {
  float: left;
  width: 5em;
  margin-right: 1em;
  line-height: 34px;
  text-align: right;
  vertical-align: baseline;
}
.register_box input {
  box-sizing:  border-box;
  width: 100%;
  padding: 1em .8em;
  font-size: 1em;
  border-radius: 4px;
  /* 重置默认input样式 */
  border: 1px solid #ccc;
  -webkit-appearance:none;


}

.register_box button {
  transition: .3s all;
}
.register_box button:hover {
  background: #A1D8C5;
}

.register_box .btn {
  padding: 12px;
  width: 100%;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}
.register_box .btn-submit {
  background-color: #89E1BA;
  color: #fff;
}
.register_box #verfCode {
  float: left;
  width: 140px;
  margin-right: 20px;
}
.register_box #verfCode + a {
  float: left;
  text-decoration: none;
  color: inherit;
  width: 140px;
  line-height: 52px;
  border-radius: 4px;
  background-color: #eee;
  text-align: center;
  /*border: 1px solid #ddd;*/
  box-sizing: border-box;
}
.register_box #verfCode ~ p {
  float: left;
}
.register_box p {
  
  margin-top: 4px;
  text-align: left;

}

/* for JQ */
.register_box input.error {
  border-color: #c9302c;
}
.register_box input.success {
  border-color: #5cb85c;
}
.register_box .disabled {
  cursor: not-allowed;
}

@media only screen and (max-width: 479px) {

}