/* ifet7 */
/* @color
header
e74f4d   hover red
787b83   no-hover

city 
bf4f49  red
*/

/* @workaround 上海活动  两端对齐*/

body {
  font-size: 87.5%;
  font-family: "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei",sans-serif;
}
/* clear float */
.g-header::before,.g-header::after,
.g-nav ul::before,.g-nav ul::after,
.feature ul::before, .feature ul::after,
.container::before,.container::after,
.caro::before, .caro::after,
.notice::before,.notice::after,
.legal::before, .legal::after {
  content: "";
  display: table;
  clear: both;
}
.wrap {
  width: 100%;
  min-width: 1280px;
  margin: 0 auto;
}
/* cover */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
}
/* g-header */
.g-header {
  padding: 0 60px;
}
.logo {
  float: left;
  padding-top: 13px;
}
.logo i {
  display: inline-block;
  vertical-align: middle;
  background: url(images/logo.png) no-repeat;
  width: 31px;
  height: 31px;
}
.logo h2 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  font-size: 21px;
  font-weight: 500;
  color: #000;
}

/* g-nav*/
.g-nav {
  float: right;
  font-size: 14px;
  line-height: 52px;
  font-weight: 500;

}
.g-nav ul {
  position: relative;
  float: left;
  margin-right: 56px;
}

.g-login {
  float: right;
}

.g-nav ul li {
  float: left;
  text-align: center;
}
.g-nav ul li.active a  {
  color: #e74f4d;
  border-bottom-color: #e74f4d;

}
.g-nav ul li a {
  display: block;
  padding: 0 18px;
  color: #787b83;
  border-bottom: 4px solid transparent;
}


.g-login a i {
  display: inline-block;
  vertical-align: -3px;
  background: url(images/user.png) no-repeat;
  width: 14px;
  height: 17px;
}
.g-login a span {
  padding: 0 8px;
  color: #e74f4d;
}

/* g-footer */
.g-footer .container {
  padding: 92px 384px;
  background-color: #32353e;
}
.g-footer-desc {
  padding-bottom: 26px;
  text-align: center;
  color: #fff;

}
.g-footer-desc h2 {
  font-size: 21px;
  padding-bottom: 10px;
}
.g-footer-desc p {
  margin: 0 auto;
  width: 478px;
  font-size: 12px;
  line-height: 18px;
}
.g-footer-submit {
  font-size: 0;
  width: 510px;
  margin: 0 auto;
}
.g-footer-submit a {
  display: inline-block;
  width: 82px;
  font-size: 14px;
  line-height: 41px;
  text-align: center;
  color: #fff;
  background-color: #707278;
}
.g-footer-submit input {
  width: 424px;
  height: 37px;
}
.g-footer-icon-group {
  padding-top: 26px;
  font-size: 0;
  text-align: center;
}
.g-footer-icon-group i {
  display: inline-block;
  margin-right: 20px;
}
.g-footer-icon {
  width: 25px;
  height: 25px;
}
.qq {
  background: url(images/qq.png) no-repeat;
}
.weibo {
  background: url(images/weibo.png) no-repeat;
}
.twitter {
  background: url(images/twitter.png) no-repeat;
}
.www {
  background: url(images/www.png) no-repeat;
}
.legal {
  padding: 12px 48px;
  background-color: #2f2f38;
}
.infos {
  float: left;
}
.infos a {
  color: #fff;
  font-size: 12px;
  line-height: 23px;
}
.totop {
  float: right;
}
.totop a {
  color: #fff;
  font-size: 12px;
  line-height: 23px;
}
/* banner */
.banner {
  position: relative;
  background: url(images/banner.jpg) no-repeat;
  background-size: cover;
  height: 690px;
  
}

.banner .cover {
  background-color: #000;

}
.banner .text {
  position: absolute;
  top: 232px;
  left: 128px;
  color: #fff;

}
.text h2 {
  margin-left: -12px;
  padding-bottom: 14px;
  font-size: 60px;
}
.text p {
  font-size: 21px;
  line-height: 32px;
}
.text a {
  display: block;
  margin-top: 52px;
  box-sizing: border-box;
  width: 330px;
  font-size: 30px;
  line-height: 63px;
  text-align: center;
  background-color: #e74f4d;
  color: #fff;
}
/* feature*/

.feature {
  padding: 42px 0 65px;
  text-align: center;
}
.feature ul li {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 25%;
  line-height: 18px;
}

.feature p {
  display: inline-block;
  padding-top: 79px;
  width: 11em;
  color: #767777;
}
.ft1 {
  background: url(images/icon1.png) top center no-repeat;
}
.ft2 {
  background: url(images/icon2.png) top center no-repeat;
}
.ft3 {
  background: url(images/icon3.png) top center no-repeat;
}
.ft4 {
  background: url(images/icon4.png) top center no-repeat;
}
.ft1 p::after,.ft2 p::after,.ft3 p::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 1px;
  height: 2.5em;
  background-color: #767777;
}

/* banner2 */
.banner2 {
  padding: 88px 0;
  background-color: #edecec;
  text-align: center;
}

.banner2 h3 {
  padding-top: 48px;
  font-size: 54px;
  color: #a1a1a1;
}

/* city */
.city {
  position: relative;
  background: url(images/map.jpg) left bottom no-repeat;
  background-size: cover;
  height: 340px;
}
.city .cover {
  background-color: #aa3533;
}

.city .text {
  position: relative;
  padding-top: 38px;  
}
.text .desc {
  text-align: center;
  color: #fff;
}
.desc h3 {
  position: relative;
  font-size: 21px;
  line-height: 2;
}
.desc h3::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background-color: #fff;
}
.desc p {
  padding-top: 15px;
  font-size: 12px;
  line-height: 2.6;
}

/* form */
.form {
  width: 1030px;
  margin: 0 auto;
  margin-top: 38px;
  font-size: 0;
}
.form-item {
  display: inline-block;
  margin-right: 28px;
  font-size: 14px;
}
.form-item:last-child {
  margin-right: 0;
}
.form-item select {
  width: 236px;
}
.form-item button {
  box-sizing: border-box;
  border: 0;
  width: 236px;
  line-height: 35px;
  background-color: #bf4f49;
  color: #fff;
  outline: none;
}

/* activity */
.activity {
  background-color: #f7f7f7;
  height: 616px;
  width: 100%;
}
.activity .container {
  width: 986px;
  margin:0 auto;
  padding: 102px 0;
}
.activity ul { font-size: 0; }
.activity ul.post li {
  display: inline-block;
  margin-right: 38px;
  width: 218px;
  font-size: 14px;
}
.activity ul.post li:last-child {
  margin-right: 0;
}
.frame-bg {
  box-sizing: border-box;
  width: 218px;
  height: 338px;
  border: 1px solid #ddd;
  border-bottom: 1px solid transparent;
  background-color: #fff;
}
.p {
  background: url(images/activity.jpg) no-repeat;
  width: 202px;
  height: 312px;
  margin: 13px auto;
}
.p1 {
  background-position: 0 0;
}
.p2 {
  background-position: -256px -52px;
}
.p3 {
  background-position: -518px 0;
}
.p4 {
  background-position: -776px 0;
}
.frame-text {
  margin-top: 14px;
  text-align: center;
}
.frame-text h4 {
  color: #
}
.frame-text p {
  padding-top: 13px;
  color: #9f9f9f;
  font-size: 12px;
}

/* reverse */
.reverse {
  vertical-align: top;
}
.reverse .frame-text {
  margin-top: 0;
}
.reverse h4 {
  font-size: 21px;
}
.reverse p {
  padding: 8px 0;
}
.reverse .frame-bg {
  border: 1px solid #ddd; 
}

/* caro */
.caro {

}

.leftA {
  position: relative;
  z-index: -1;
  float: left;
  width: 66%;
  height: 563px;
}
.leftA img {
  width: 100%;
}
.left-desc {
  position: absolute;
  top: 134px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}
.leftA::after {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 44%;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 24px solid #fff;
}
.left-desc h1 {
  font-size:158px ;

}
.left-desc h2 {
  font-size: 50px;
}
.left-desc h3 {
  font-size: 22px;
  line-height: 43px;
}

.rightA {
  float: left;
  width: 34%;
  height: 563px;
}
.right-desc {
  padding: 168px 70px 0;
  box-sizing: border-box;
}
.right-desc h2 {
  font-size: 20px;
  text-align: center;
}
.right-desc p {
  padding-top: 15px;
  color: #AAA;
  font-size: 12px;
  line-height: 30px;
}
.right-desc .more-info {
  margin-top: 32px;
  text-align: center;
}
.more-info a {
  display: inline-block;
  color: #e25c60;
  padding: 12px 30px;
  border: 1px solid #e4666a;
  font-size: 12px;
}
.point-group {
  margin-top: 25px;
  text-align: center;
  font-size: 0;
}
.point-group .active {
  background-color: #919192;
}
.point {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #919192;
}
/* other */
.other {
  font-size: 0;
}
.other > * {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.other .left,.other .middle {
  width: 33%;
  height: 522px;
  padding: 13.6% 9.7% 0;

}
.other .left {
  background-color: #e74f4d;
}
.other .middle {
  position: relative;
  background-color: #fff;
}
.other .right {
  width: 34%;
}

.other-desc h2 {
  font-size: 21px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.other-desc .more-info {
  margin-top: 36px;
  text-align: center;
}
.other-desc .more-info a {
  color: #fff;
  font-size: 21px;
  border: 1px solid #fff;
  padding: 12px 41px;
}
.bottom-line {
  position: relative;
}
.bottom-line::after {
  position: absolute;
  content: "";
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 2px;
  background-color: #fff;
}
.middle h2 {
  color: #000;
}
.middle::after {
  position: absolute;
  z-index: 999;
  content: "";
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 24px solid #fff;
}
.middle .bottom-line::after {
  position: absolute;
  content: "";
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 2px;
  background-color: #ababab;
}
.middle .more-info a {
  color: #e74f4d;
  border-color: #e74f4d;
}
.other .right {
  position: relative;
  z-index: 998;
  background: url(images/right.jpg) no-repeat;
  background-size: cover;
  height: 522px;
}
.right .cover {
  opacity: .4;
  background-color: #030000;
}

/* feedback */
.feedback {
  padding: 118px 138px 170px;
}
.title {
  text-align: center;
  margin-bottom: 102px;
}
.title h2 {
  position: relative;
  font-size: 21px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #323333;
}
.title h2::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 28px;
  height: 2px;
  background-color: #e74f4d;
}
.title p {
  margin: 0 auto;
  width: 420px;
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
}

.notice-left {
  float: left;
  width: 294px;
}

.notice-item {
  margin-bottom: 30.5px;
}
.notice-item:last-child {
  margin-bottom: 0;
}
.notice-item h4 {
  line-height: 21px;
  font-size: 14px;
  color: #231815;
}
.notice-item p {
  padding-top: 19px;
  font-size: 12px;
  line-height: 21px;
  color: #aaa;
}
.notice-item .more-sm {
  text-align: right;
  font-size: 6px;
}
.notice-item .more-sm a span {
  padding-left: 4px;
  color: #aaa;
}
.notice-item .more-sm i {
  display: inline-block;
  background: url(images/arrow-down.png) no-repeat;
  width: 12px;
  height: 6px;
}

/* notice -> right*/
.notice-right {
  width: 650px;
  float: right;
  font-size: 0;
}
.input-item-md {
  margin-bottom: 14px;
  display: inline-block;
  width: 312px;
  height: 36px;
  font-size: 12px;
  text-indent: 12px;
  background-color: #ededef;
  color: #231815;
}
.input-item-md:nth-child(odd) {
  margin-right: 18px;
}
.input-item-lg {
  box-sizing: border-box;
  margin-bottom: 14px;
  padding: 12px 0;
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  text-indent:12px;
  background-color: #ededef;
  color: #231815;
  outline: none;
  border: none;
  resize: none;
}
.input-item-btn {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 12px;
  background-color: #ededef;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.input-item-btn a {
  display: block;
  color: #231815;
}