/* CSS DEMO */
/* With CSS reset */
body {
  font-size: 14px;
}
.wrap {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}
.title {
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
ol.ol {
  list-style: decimal;
  padding-left: 20px;
}
ol h4 {
  font-size: 18px;
}
/* no1 */
a.tooltip {
  position: relative;

}
a.tooltip span {
  display: none;
}
a.tooltip:hover span {
  position: absolute;
  display: block;
  left: 2em;
  top: 1em;
  padding: 0.2em 0.6em;
  border: 1px solid #996633;
  background-color: #FFFF66;
  color: #000;
}

#no2 input {
  color: #000;
}