/* 移动端页面 */
/* color 
91d4da 主题绿色
*/
/* @workaround 
line 133 margin-left:.92rem;

*/
/* global */
a:link,
a:visited,
a:active {
  color: #000; 
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Mircosoft Yahei";
}
.g-header {
  position: relative;
  width: 100%;
  background-color: #91d4da;
  font-size: 1.8rem;
  line-height: 2.8;
}
.g-header .back {
  position: absolute;
  top: 0;
  left: 1.4rem;
}
.g-header .back a {
  color: #fff;
}
.css3-back {
  display: inline-block;
  transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
  border-top: none;
  border-right: none;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

/*.g-header .back a i {
  padding-right: 2px;
  font-size: 2.9rem;
  vertical-align: -3px;
}*/
.g-header h2 {
  text-align: center;
  color: #fff;
}
.g-footer {
  width: 100%;
  height: 6rem;
  background-color: #f8f8f8;
}
/* 导航 */

.article-group,
.module-group,
.col-group,
.tag-group,
.list-group {
  padding-left:1rem;
  padding-right:1rem;
}
.article-col-img ul,
.module-r ul,
.col-group ul,
.tag-group ul,
.list-group ul {
  font-size: 0;
}

/*.tag-group li,*/
.list-group li {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.8;
  width: 20%;  
  text-align: center;
}
.tag-group li {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2;
  width: 20%;  
  text-align: center;
}

.list-group li a {
  display: block;
  border-bottom: 4px solid transparent;
}
.list-group li a.active {
  border-color: #91d4da;
}
/* tag-group */
.tag-group ul {
  border-bottom: 1px solid #ddd;
}
.tag-group {
  padding-top: 2rem;
}
.tag-group img {
  width: 5rem;
  height: 5rem;
}
.tag-group span {
  display: block;
  margin-bottom: 1rem;
}
/* col-group */
.col-group {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2rem solid #f5f5f5;
}
.col-group h4 {
  font-size: 1.8rem;

}
.col-group h5 {
  font-size: 1.4rem;

}
.col-group img {
  width: 10rem;
  height: 6.6rem;
  vertical-align: -1.5rem;
}
.col-group li {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.6;
  width: 33.333333%;
  text-align: center;
}
.col-group li a {
  display: block;
  border-right: 1px solid #ddd;
}
.col-group li:last-child a {
  border-right: none;
}
/* module-group */

.module-group h2 {
  font-size: 1.8rem;
  line-height: 2.4;
  border-bottom: 1px solid #ddd;
}
.module-group {
  border-bottom: 2rem solid #f5f5f5;
}



.module-l {
  width: 26.5%;
}
.module-l img {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #FF7F00;
}
.article-wrap,
.module-wrap {
  display: flex;
  padding-top: 1rem;
}
.article-wrap {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f5f5f5;
}

.module-r {
  flex: 1;
}
.module-r li {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 40px;
  text-align: center;
  width: 50%;
}
.module-r li a {
  display: block;
  background-color: #f8f8f8;
  margin-left: .92rem;
  margin-bottom: 1rem;
}

/* article */
.article-l {
  width: 30%;
  margin-right: 20px;
}
.article-r {
  flex: 1;
  position: relative;
}
.article-l img {
  width: 100%;
}
.article-r h3 {
  font-size: 2rem;
}
.article-r aside.comment {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ddd;
  font-size: 1.4rem;
}
.article-r aside.comment span {
  margin-left: 6px;
}
.article-col {
  font-size: 1.4rem;
}
.article-col h3 {
  font-size: 2rem;
}
.article-col-img {
  margin-top: 1rem;
}
/* height + bacco = plhd*/

.article-col-img li {
  margin-right: .5%;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.8;
  width: 33%;  
  text-align: center;
}
.article-col-img li:last-child {
  margin-right: 0;
}
.article-col-img li img {
  width: 100%;
}
/* img-tpl */
.img-tpl {
  width: 100%;


}
.img-tpl img {
  width: 100%;
}