.container {
  width: 720px;
  margin: 40px auto 0;
}
.mainBox {
  float: left;
  width: 78%;
  height: 600px;
  border: 1px solid #ddd;
  background-color: #eee;

}
.sideBox {
  float: right;
  width: 20%;
  height: 600px;
  border: 1px solid #ddd;
}
.btn {
  text-decoration: none;
  color: #222;
  border: 1px solid #222;
  padding: 16px 0;
  width: 90px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  cursor: pointer;

}
.btn-reset {
  color: #aaa;
  border-color: #ddd;
  cursor: not-allowed;
}

.J-reset {
  color: #222;
  cursor: pointer;
  border-color: #222;
}
.J-continue {
  color: #5bb75b;
  border-color: #5bb75b; 
}
.J-pause {
  color: #b94a48;
  border-color: #b94a48; 
}
/* timeSetter */
.timeSetter {
  position: relative;
  text-align: center;
}
.timeSetter .del {
  position: absolute;
  opacity: 0;
  top: 44px;right: 30px;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid #ddd;
  -webkit-transition: .3s all .5s;
  -o-transition: .3s all .5s;
  transition: .3s all .5s;
  cursor: pointer;
}
.timeSetter:hover .del {
  opacity: 1;
}
.timeSetter input {
  line-height: 98px;
  font-size: 32px;
  width: 3em;
  text-indent: 1em;
  border-color: transparent;
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
  -webkit-transition: .3s all;
   -o-transition: .3s all;
   transition: .3s all; 
}
.timeSetter input:hover {
  border-color: #ddd;
}

.viewTime {
  display: none;
  font-size: 0;
  text-align: center;
  height: 102px;
}
.viewTime span {
  font-size: 38px;
  line-height: 100px;
}
.btnControl {
  text-align: center;
}
.btnControl button {
  margin-top: 20px;
}

/* progress */
.ring {
  position: relative;
  width: 480px;
  margin: 0 auto;
  /*border: 1px solid #ddd;*/
  height: 480px;
}

.mask {
  background-color: #eee;
  width: 100%;
  height: 100%;
  line-height: 480px;
  position: absolute;
  left: 0;top:0;
  z-index: 10;
  border-radius: 50%;
  transform: scale(.9);
  text-align: center;

}
.mask input {
  position: absolute;
  top: 50%;left: 50%;
  width: 5em;
  height: 2em;
  margin-top: -1em;
  margin-left: -2.5em;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2em;
}
.mask .toshow {
  font-size: 4em;

}

/* canvas */
.ring canvas {
  position: absolute;
  top: 0;left: 0;
  width: 100%;height: 100%;
}

.tooltips div {
  position: absolute;
  display: none;
  background-color: #FFCC66;
  padding: 4px 8px;
  border-radius: 8px;

}
.tooltips .tooltipsHour {
  left: 24%; top: 0;
}
.tooltips .tooltipsMinute {
  left: 50%; top:0;
}